*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
   
    
}

body{
    overflow-x: hidden;
}

.navbar-container{
    z-index: 2;
    position: sticky;
    top: 0px;
    color: white;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

#logo{   
    display: flex;
    align-items: center;
    margin-left: 50px;
    margin-bottom: 20px; 
}

.navbar-icons{
    
        text-align: center;
        font-size: 25px;
        display: flex;
        padding-right: 25px;
        padding-left: 20px;
        align-items: center;
        justify-content: center;
}

.navbar-icons img:first-of-type{
       
    
    padding-right: 10px;
    
}

.navbar-icons #it1 img:last-of-type{
    display: none;
    
}
.navbar-icons #it1:hover img:first-of-type{
    display: none;
}
.navbar-icons #it1:hover img:last-of-type{
    display: flex;

}

.navbar-icons #it1:hover {
    display: flex;
    padding: 7px 10px 0 0;

}


.navbar-icons #it2 img:last-of-type{
    display: none;
    
}
.navbar-icons #it2:hover img:first-of-type{
    display: none;
}
.navbar-icons #it2:hover img:last-of-type{
    display: flex;
    
}
.navbar-icons #it2:hover {
    display: flex;
    margin: 7px 10px 0 0px;
    
}



.navbar-menu{
    
    
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-item{
    list-style: none;

}

.navbar-links{
    color: white;
    text-decoration: none;
    margin: 0 1rem;
}

.navbar-links:hover{
    text-decoration: none;
    color: rgb(191, 190, 190);
}

.hero-container{
    font-size: 30px;
    color: black;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/pexels-pixabay-53444.jpg");
    padding: 150px 0;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.hero-text {
    padding-left: 40px;
    text-align: start;
    color: white;
}

.hero-text h1, .hero-text #bold {
    padding-bottom: 20px;
   
}


#button-contact{
  
    font-size: 20px;
    border: 2px white solid;
    height: 60px;
    width: 160px;
    color: black;
    background-color: white;
    border-radius: 10px;
}

#button-contact:hover{
    border: 2px rgb(225, 220, 220) solid;
    background-color: rgb(225, 220, 220);
}

#button-buy{
    
    font-size: 20px;
    border: 2px rgb(232, 170, 25) solid;
    height: 60px;
    width: 120px;
    color: white;
    background-color: rgb(232, 170, 25);
    border-radius: 10px;
    margin-left: 10px;
}





#button-buy:hover{
    cursor: pointer;
    
    border: 2px rgb(188, 137, 20) solid;
    background-color: rgb(188, 137, 20);
    
}

#glyph{padding-left: 10px;}


.why-container{
    display: flex;
    flex-direction: column;
    padding: 100px 0 120px 0;
    background-color: rgb(234, 226, 226);
    justify-content: space-around;
    align-items: center;
}

.why-heading{
    padding-bottom: 40px;
    color: black;
    }

.why-text{
        padding-top: 30px;
        display: flex;
        justify-content: space-between;
    }

.why-text-col1{
    padding-right: 80px;
    
}

.why-text-col2{
    
    padding-left: 80px;
}

.why-text-col1-row1{
    padding-bottom: 50px;
    
}

.why-text-col2-row1{
    padding-bottom: 50px;
    
}

.product-container{
    padding: 100px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;

}



div [class^="product-img"]{
    overflow: hidden;
    width: 300px;
    height: 400px;
}


div[class^="product-col"]{
    height: 480px;
    background-color:  rgb(229, 224, 224);
    border-radius: 5px;
    overflow: hidden;
    width: 300px;
    cursor: pointer;
}

div[class^="product-col"] img{
    background-color:  rgb(229, 224, 224);
    border-radius: 5px;
    display: block;
    transition-property: transform;
    transition-duration: 1.5s;
}


div[class^="product-col"]:hover img{
    
    transform: scale(1.3);
}



div[class^="product-cols"] p{
    margin-left: 20px;
    margin-top: 20px;
    font-size: 25px;
}


div[class^="product-cols"]{
    display: flex;
    justify-content: start;
    
}

div[class^="product-cols"] p:first-of-type{
    font-weight: 400;
}

div[class^="product-cols"] p:last-of-type{
    margin-left: 38px;
    margin-top: 24px;
    font-size: 22px;
}

.info1-container{
    display: flex;
    
    padding: 50px 0 50px 0;
    background-color: rgb(234, 226, 226);
    justify-content: space-around;
    align-items: center;
}

.info1-text-row1{
    padding-bottom: 40px;
    font-size: 20px;
}

.info1-text-row2{
    
    font-size: 20px;
}

.info2-container{
    font-size: 30px;
    color: white;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/pexels-pixabay-53444.jpg");
    padding: 50px 0;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.review-container{
    display: flex;
    
    padding: 50px 0 50px 0;
    background-color: rgb(234, 226, 226);
    justify-content: space-evenly;
    align-items: center;
}

div[class^="review-card"]{
    background-color: rgb(206, 199, 199);
    border-radius: 5px;
    color: black;
    padding: 0 20px 0 20px;
}


div[class^="review-card"] h3{
    position: relative;
    top: 30px;
    display: inline-block;
    
}

div[class^="review-card"] p{
    position: relative;
    bottom: 20px;
    padding-bottom: 20px;
}

div[class^="review-card"] img{
    position: relative;
    right: 16px;
    top: 10px;
}

.fo{
   display: flex;
   justify-content: space-evenly;
   padding:     50px 0 100px 0;
}

.footer-col1 ul li{
    text-align: center;
    list-style: none;
    padding: 5px 0;

}

.footer-col1 ul li a{
    text-decoration: none;
    color: black;

}

.footer-col2 {
    text-align: center;
    list-style: none;

    padding: 5px 0;

}

.footer-col2  a{
    text-decoration: none;
    color: black;

}

.footer-col2  a:hover{
    text-decoration: none;
    color: black;

}


#copy{
    text-align: center;
    background-color: rgb(248, 243, 243);
}

.footer-col2 img{
    margin: 0 5px;
}


.footer-col3 img{
    text-align: center;
    margin: 2px  2px;

}

/* About */

.hero-subcontainer{
    height: 250px;
    
    color: white;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/pexels-pixabay-53444.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 30px;
    
}

.hero-subtext{
   position: relative;
   bottom: 20px;
   padding-left: 40px;
    text-align: start;
    color: white;
    font-size: 90px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}



.hero-subcontainer p {
    position: relative;
   bottom: 20px;
    padding: 0 0 20px 40px;
    
    font-size: 20px;
}


.our-story{
    display: flex;
    justify-content: space-around;
    height: 500px;
    align-items: center;
}

.story-text{
   font-size: 30px;
}

.story-text h1{
    font-size: 35px;
    font-weight: bold;
 }

 .mission{
    height: 550px;
    display: flex;
    justify-content: space-around;
    height: 500px;
    align-items: center;
    
    background-color: rgb(219, 208, 208);
 }

 .services-sub{
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 350px;
    color: white;
    background-color: black;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/pexels-pixabay-53444.jpg");
    background-repeat: no-repeat;
    background-size: cover;
 }

 .services-sub h1{
    font-weight: bold;
    font-size: 80px;

 }

 .services-sub p{
    text-align: center;
    font-size: 25px;

 }


 .services-sub button  {
    margin-top: 20px;
     color: white;
     background-color: rgb(232, 170, 25);
     height: 60px;
     width: 150px;
     border:2px solid rgb(232, 170, 25) ;
     border-radius: 4px;

 }

 .services-sub button :hover, .services-sub a  :hover{
    background-color: rgb(188, 137, 20);
    border:2px solid rgb(188, 137, 20) ;
 }

/* Login */


.log-bg{
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 670px;
    background-color: black;
    background-image:linear-gradient(rgba(188, 138, 1, 0.418), rgba(249, 122, 11, 0.477)), url("../img/pexels-pixabay-53444.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.log-container{
    border: 4px solid beige;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
    background-color: beige;
    
    width: 400px;
    height: 580px;
}

.log-container hr{
    width: 230px;
    border: 1px solid rgb(171, 171, 171);
}

.log-container h1{
    font-weight: bold;
    margin-right: 150px ;
    margin-bottom: 30px;
}

.log-container div input{
    border: 2px solid gray;
    border-radius: 4px;
     width: 230px;
     height: 30px;
}

#remember{
    
    margin-right: 5px;
    position: relative;
    bottom: 2px;
    border: 4px solid gray;
    border-radius: 4px;
     width: 30px;
     height: 17px;
}

#remember:checked{
    accent-color:rgb(232, 170, 25) ;
    
}

#label-remember{
    font-size: 12px;
    margin-right: 113px;
    position: relative;
    bottom: 7px;
}

.log-container button{
    margin: 0;
    position: relative;
    bottom: 10px;
    color: white;
    border: 2px solid rgb(232, 170, 25);
    border-radius: 4px;
     width: 230px;
     height: 40px;
     background-color: rgb(232, 170, 25);
}
.log-container button:hover {
    border: 2px solid rgb(188, 137, 20);
    border-radius: 4px;
    background-color: rgb(188, 137, 20);
}
#forgot{
    margin: 0;
    font-size: 13px;
    position: relative;
    left: 67px;
    bottom: 10px;
    color: gray;
}

.log-container hr {
    position: relative;
    bottom: 30px;
}

#need-ac{
    margin: 0;
    position: relative;
    font-size: 14px;
    bottom: 60px;
   
}

#need-ac a{
    color: rgb(232, 170, 25);
    text-decoration: underline;
}

.badge {
    color: gray;
    margin: 0;
    position:relative;
    bottom: 60px;
    z-index: 1;
}

#img-log{
    
    position: relative;
    bottom: 60px;
}
#img-log img:nth-child(2) {
    
    margin-left: 10px;
}
#img-log img:last-child{
    
    margin-left: 10px;
}

/* contact */

.contact-hero-container{
    height: 250px;
    color: white;
    padding-top: 30px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/pexels-pixabay-53444.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-hero-text{
position: relative;
   top: 10px;
   padding-left: 40px;
    text-align: start;
    color: white; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;}

.contact-hero-text h1{
    font-size: 80px;
    font-weight: bold;
}

.contact-hero-text p{
    font-weight: normal;
    font-size: 20px;
}

.contact-main{
    
    padding-top: 20px;
    height: 350px;
    background-color: rgb(194, 189, 189);
}

.contact-main div{
    color: black;
    font-size:25px ;
    position: relative;
    top: 10%;
    left: 25%;
    
}

.contact-main div h1{
    position: relative;
    
    font-weight: bold;
    font-size: 50px;
}

.contact-form-container{
   
    
    display: flex;
    flex-direction: column;
}

.contact-form-row1{
    justify-content: space-evenly;
    display: flex;
    
}


.contact-form-adress h3{
    font-weight: bold
}

.contact-box{
    height: 600px;
    padding: 30px 10px 30px 10px;
    border: 2px solid gray;
    border-radius: 2px;
    width: 80%;
    margin-top: 5%;
    margin-left: 10%;
    margin-bottom: 5%;
}

.contact-form-adress{
    position: relative;
    bottom: 20px;
}

.contact-form-adress p{
    margin-bottom: 20px;
}

.contact-box input{
    margin-bottom: 10px;
}

.contact-box select{
    margin-bottom: 10px;
}

.contact-box button{
    font-size: 15px;
    transition-property: background-color border-color;
    transition-duration: 1s;
    color: white;
    background-color: rgb(232, 170, 25);
    width: 150px;
    height: 40px;
    border: 2px solid rgb(232, 170, 25);
    border-radius: 6px;
}
.contact-box button:hover{
    background-color: rgb(188, 137, 20);
    border-color: rgb(188, 137, 20); 
}

.contact-logos{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(164, 159, 159);
}

@media (min-width: 200px) and (max-width:    1000px){
    .info2-container{
        font-size: 15px;
    }
    .copy{
        position: relative;
        top: 90px;
    }
    #copy{
        background-color: rgb(248, 243, 243);
    }
    .navbar-menu{
        
        display: none;
    }
    #logo{
        margin-top:20px;
    }
    .navbar-container h1{
        font-size: 20px;
        padding: 5px ;
    }
    .navbar-container{
        padding: 0;
    }
    .hero-container{
        padding: 80px 0;
        min-width: 300px;
    }
    .hero-text{
        font-size: medium;
    }
    .review-container{
        min-width: 300px;
        flex-direction: column;
    }
    .product-container{
        min-width: 300px;
        flex-direction: column;
    }
    .why-text{
        flex-direction: column;
    }
    .info1-container{
        min-height: 800px;
        min-width: 300px;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .info1-container img{
        display: none;
    }
    
    .fo h1{
        display: none;
    }

    .info1-text-row2 , .info1-text-row1{
        padding: 60px 20px ;
        
    }
    .info2-container{
        padding: 60px 20px ;
    }
    .why-text-col2{
        font-size: 12px;
        padding: 0 3px 0 3px;
    }
    .why-text-col1{
        font-size: 12px;
        padding: 0 5px 0 5px;
    }
    
    .why-text-col1-row1{
        margin-bottom: 45px;
    }

    .why-text-col1-row2{
        margin-bottom: 45px;
    }
 
    .why-text-col2-row1{
        margin-bottom: 45px;
    }
    
    .why-container{ 
        padding: 70px 0;
        text-align: center;
    }

    .product-col1{
        margin-bottom: 30px;
    }

    .product-col2{
        margin-bottom: 25px;
    }

    div[class^="review-card"] h3{
        font-size: 19px;
    }

    .review-card1{
            font-size:10px ;
            margin-bottom: 30px;
    
    }

    .review-card2{
        font-size:10px ;
        margin-bottom: 30px;

}

#logo img{
    
   
    height: 65px;
}

#logo {
    
    margin-bottom: 30px;
    margin-right: 15px;
    height: 40px;
}


.review-card3{
    font-size:10px ;
}

    .navbar-container{
        min-width: 300px;
    }
    .fo{
        min-width: 300px;
    }
    #copy{
        min-width: 300px;
    }
    .info2-container{
        min-width: 300px;
    }
    .why-container{
        min-width: 300px;
    }


    /* footer */

    .footer-col1{
        position: relative;
        left: 30px;
    }

    .footer-col2{
        position: relative;
        left: 80px;
        bottom: 4px;
    }

    .footer-col3{
        padding-bottom: 40px;
        position: relative;
        top: 140px;
        right: 80px;
    }

    #fo2{
        height: 360px;
    }

    #footer-col3{
        position: relative;
        top: 220px;
        right: 50px;
    }

    

    /* About */
    .our-story{
        display: flex;
        margin-top: 10px;
    flex-direction: column;
    justify-content: space-evenly;
    height: 450px;
    
    
    text-align: center;
}

.story-text{ margin-top: 0px;
    font-size: 12px;
}

.our-story img{
    height: 200px;
    width: 350px;
    margin-top: 10px ;
}
    .mission{
        display: flex;
        flex-direction: column;
        height: 450px;
        font-size: 12px ;
        text-align: center;
        justify-content: space-around;
    }

    .mission img{
        width: 350px;
        height: 200px;
        margin-bottom: 20px;
    }
   
    .services-sub{
        height: 300px;
        margin-left: 0px;
        font-size: 10px ;
    }
    .services-sub P{
        font-size: 15px;
    }
    .services-sub h1{
        font-weight: bold;
        font-size: 45px;
    }
    .services-sub button{
        height: 50px;
        width: 100px;
        font-size: 15px;
    }
    .hero-subcontainer h1{
        font-size: 50px;
    }
    .hero-subcontainer p{
        font-size: 10px;
    }
    .hero-subcontainer{
        height: 150px;
    }

    /* Login */


.log-bg{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    height: 750px;
    background-color: BLACK;
    background-image:linear-gradient(rgba(188, 138, 1, 0.418), rgba(249, 122, 11, 0.477)), url("../img/pexels-pixabay-53444.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.log-container{
    border: 4px solid beige;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
    background-color: beige;
    width: 350px;
    height: 650px;
}

.log-container hr{
    width: 230px;
    border: 1px solid rgb(171, 171, 171);
}

.log-container h1{
    font-weight: bold;
    margin-right: 150px ;
    margin-bottom: 30px;
}

.log-container div input{
    border: 2px solid gray;
    border-radius: 4px;
     width: 230px;
     height: 35px;
}

#remember{
    
    margin-right: 5px;
    position: relative;
    bottom: 2px;
    border: 2px solid gray;
    border-radius: 4px;
     width: 30px;
     height: 17px;
}

#remember:checked{
    accent-color:rgb(232, 170, 25) ;
    
}

#label-remember{
    font-size: 14.5px;
    margin-right: 100px;
    position: relative;
    bottom: 7px;
}

.log-container button{
    margin: 0;
    position: relative;
    bottom: 10px;
    color: white;
    border: 2px solid rgb(232, 170, 25);
    border-radius: 4px;
     width: 230px;
     height: 39px;
     background-color: rgb(232, 170, 25);
}
.log-container button:hover {
    border: 2px solid rgb(188, 137, 20);
    border-radius: 4px;
    background-color: rgb(188, 137, 20);
}
#forgot{
    margin: 0;
    font-size: 13px;
    position: relative;
    left: 67px;
    bottom: 10px;
    color: gray;
}

.log-container hr {
    position: relative;
    bottom: 30px;
}

#need-ac{
    margin: 0;
    position: relative;
    font-size: 14px;
    bottom: 60px;
   
}

#need-ac a{
    color: rgb(232, 170, 25);
    text-decoration: underline;
}

.badge {
    color: gray;
    margin: 0;
    position:relative;
    bottom: 60px;
    z-index: 1;
}

#img-log{
    
    position: relative;
    bottom: 60px;
}
#img-log img:nth-child(2) {
    
    margin-left: 10px;
}
#img-log img:last-child{
    
    margin-left: 10px;
}

/* contact */

.contact-hero-container{
    height: 200px;
    color: white;
    padding-top: 30px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/pexels-pixabay-53444.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-hero-text{
position: relative;
  
   padding-left: 30px;
    text-align: start;
    color: white; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;}

.contact-hero-text h1{
    font-size: 50px;
    font-weight: bold;
}

.contact-hero-text p{
    font-weight: normal;
    font-size: 13px;
}

.contact-main{
    overflow: hidden;
    padding-top: 10px;
    height: 300px;
    background-color: rgb(194, 189, 189);
}

.contact-main div{
    color: black;
    font-size:14px ;
    position: relative;
    
    top: 10%;
    left: 5%;
    
}

.contact-main div h1{
    position: relative;
    
    font-weight: bold;
    font-size: 35px;
}

.contact-form-container{
   
    
    display: flex;
    flex-direction: column;
}

.contact-form-row1{
    justify-content: space-evenly;
    display: flex;
    flex-direction: column-reverse;
    
}


.contact-form-adress h3{
    font-weight: bold
}

.contact-box{
   
    height: 800px;
    padding: 30px 10px 30px 10px;
    border: 2px solid gray;
    border-radius: 2px;
    width: 90%;
    margin-top: 5%;
    margin-left: 5%;
    margin-bottom: 5%;
}

.contact-form-adress{
    position: relative;
    bottom: 20px;
}

.contact-form-adress p{
    margin-bottom: 20px;
}

.contact-box input{
    margin-bottom: 10px;
}

.contact-box select{
    margin-bottom: 10px;
}

.contact-box textarea{
    width: 310px;
    height: 80px;
}

.contact-box iframe{
    width: 310px;
    height: 300px;
}
.contact-logos{
    padding:0;
    margin: 0;
    
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(164, 159, 159);
}

.contact-logos img{
    width: 300px;
}
/* reset whgy */



.why-heading{
    padding-bottom: 40px;
    color: black;
    }




.why-text-col1-row1{
    padding-bottom: 0px;
    
}

.why-text-col2-row1{
    padding-bottom: 0px;
    
}

}



